<header>

	<h1>
		littlebigberry
	</h1>

	<h2>
		Simple, Beautiful Applications
	</h2>

	<p>
		We are a boutique software development company that <br>
		specializes in turning great ideas into beautiful products.
	</p>

</header>
